.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
}

.card {
  flex: 1 1 300px; /* Tamaño inicial de cada tarjeta */
  max-width: 100%; /* Ancho máximo para cada tarjeta */
  padding: 10px;
  box-sizing: border-box; /* Incluye el padding en el ancho y alto total */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.card img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina el espacio en blanco debajo de la imagen */
  max-height: 100%; /* Limita la altura máxima para evitar distorsiones */
  object-fit: contain; /* Ajusta la imagen para mostrarla completa */
  border-radius: 8px; /* Añade borde redondeado igual al de la tarjeta */
}

.card-content {
  padding: 10px;
}

